.is-content-centered {
    justify-content: center;
}

.button.is-text {
    text-decoration: none;
    padding-left: calc(.625em - 1px);
    padding-right: calc(.625em - 1px);
}

.has-ellipsis {
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}