.is-content-centered {
    justify-content: center;
}

.button.is-text {
    text-decoration: none;
    padding-left: calc(.625em - 1px);
    padding-right: calc(.625em - 1px);
}

.has-ellipsis {
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.has-no-content {
    padding: 10px;
    justify-content: center;
}

#app {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
}

.footer {
    margin-top: -12px;
}

@media screen and (max-width: 768px) {
    #menu-toggle:checked + .nav-menu {
        display: block;
    }
}